 <%= link_to "Hire", new_employee_path %>

<div class="employee-box">
  <% @administrators.each do |admin| %>
      <%= admin.name %>
      <%= admin.job_title %>
      <%= admin.worker_number %>
  <% end %>
</div>

<% @employees.each do |emp| %>
  <div class="employee-box">
    <h3><%= link_to "#{emp.name}", employee_path(emp) %></h3>
    <%= emp.job_title %>
    <%= emp.worker_number %>
    <div>
      <% if current_user.admin == true %>
        <%= link_to "Hire", new_employee_path %>
        <%= link_to "Edit", edit_employee_path(emp) %>
        <%= button_to "Fire", emp, method: :delete, data: { confirm: "Really?" } %>
      <% end %>
    <div>
  <div>
<% end %>