<% @employees.each do |emp| %>
  <div class="employee-box">
    <h3><%= emp.name %></h3>
    <%= emp.job_title %>
    <%= emp.worker_number %>
    <div>
      <% if current_user.admin == true %>
        <%= link_to "Edit", edit_employee_path(emp) %>
        <%= button_to "Fire", emp, method: :delete, data: { confirm: "Really?" } %>
      <% end %>
    <div>
  <div>
<% end %>