<%= form_with model: job, local: true do |f| %>

<div class="form_box">
  <%= f.label :concern %>
  <%= f.text_area :concern %>
</div>

<%= f.hidden_field :repair_order_id %>

  <%= f.submit %>

<% end %>