<%= form_with model: @repair_order, local: true do |f| %>

<div class="form_box">
  <%= f.label :vin_number %>
  <%= f.text_field :vin_number %>
</div>

<div class="form_box">
  <%= f.label :worker_number %>
  <%= f.number_field :worker_number %>
</div>


<%= f.submit %>
<% end %>