<%= form_with model: @repair_order, local: true do |f| %>

<div class="form_box">
  <%= f.label :vin_number %>
  <%= f.text_field :vin_number, list: "vin_autocomplete" %>
  <datalist id="vin_autocomplete">
    <%= Vehicle.all.each do |veh| %>
      < option value="<%= veh.vin %>">
    <% end %>
  </datalist>
</div>

<div class="form_box">
  <%= f.label :worker_number %>
  <%= f.number_field :worker_number, list: "worker_number_autocomplete" %>
  <datalist id="worker_number_autocomplete">
    <%= Employee.all.each do |emp| %>
      < option value="<%= emp.worker_number %>">
    <% end %>
  </datalist>
</div>

<div class="form_box">
  <%= f.label :customer_phone_number %>
  <%= f.number_field :customer_phone_number, list: "phone_number_autocomplete" %>
  <datalist id="phone_number_autocomplete">
    <%= Customer.all.each do |c| %>
      < option value="<%= c.phone_number %>">
    <% end %>
  </datalist>
</div>


<%= f.submit %>
<% end %>