<div>
  <p>Repair Order number <%= @repair_order.id %> </p>
</div>

    <% if employee? %>
      <%= button_to "Delete", @repair_order, method: :delete, data: { confirm: "Really?" } %>
      <%= link_to "Edit", edit_repair_order_path(@repair_order) %>
    <% end %>

<div>
  <p>Customer: <%= @cust.name %> </p>
</div>

<div><h3> Vehicle info </h3>
  <div>
    <p> Vehicle Make:<%= @veh.make %></p>
  </div>
  
  <div>
    <p> Vehicle Model: <%= @veh.model %></p>
  </div>
  
  <div>
    <p> Vehicle Miles: <%= @veh.miles %></p>
  </div>
</div>

<div>
  <% @jobs.each do |j| %>
    <div> <h3> Jobs </h3>
      <p> Concern: <%= j.concern %></p>
      <p> Complete? <%= j.completed %> </p>
    </div>
  <% end %>
</div>

