<!DOCTYPE html>
<html>
  <head>
    <title>FlatironDmsRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if !logged_in %>
      <%= link_to "Log in", login_path %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
