<!DOCTYPE html>
<html>
  <head>
    <title>FlatironDmsRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <header>
    <%= navbar %>
    <div class="errors">
      <% flash.each do |k, v| %>
        <p><%= v %></p>
      <% end %>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
